@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;

700&family=Poppins:wght@400;500;600&family=Roboto:wght@400;500;700&family=Rubik:wght@500&family=Ubuntu&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.875rem;
  font-smoothing: antialiased;;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  -ms-touch-action: none;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex: 1 1 auto;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 73.625rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 200;
}

.menu-open .header {
  height: 100%;
}

.header__container {
  display: flex;
  width: 100%;
  height: 3.5rem;
  padding-top: 1.5625rem;
  justify-content: center;
  align-items: center;
}


.header__logo {
  padding-top: 1rem;
  width: 218px;
  flex: 1 1 auto;
  color: #40A3F8;
  font-family: Rubik;
  font-size: 31.635px;
  font-style: normal;
  font-weight: 500;
  line-height: 47px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.menu-open .header__menu {
  text-align: center;
}

.menu-open .menu {
  display: block;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  padding-top: 100px;
  background-color: #fff;
}

.menu__body {
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #6E5F5F;
}

.menu__list {
  display: flex;
  gap: 52px;
  justify-content: center;
  align-items: center;
}

.menu__list:last-child {
  color: #262323;
}

.menu-open .menu__list {
  flex-direction: column;
}

.menu__link {
  opacity: 0.3019999862;
}

.menu__link:hover {
  color: #40A3F8;
  opacity: 1;
}

.menu .button {
  width: 142px;
  height: 47px;
}

.button {
  background-color: rgb(64, 163, 248);
  border-radius: 5px;
  color: #FFF;
  font-family: Poppins;
  font-size: 14.997px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  transition: all 0.3s ease 0s;
}

.button:hover {
  background-color: rgb(69, 129, 180);
  color: rgb(64, 163, 248);
  background-color: rgb(255, 255, 255);
  transform: scale(1.1);
  box-shadow: 0px 2px 3px #000;
}

.icon-menu {
  display: none;
}

.border {
  border: 1px dashed rgba(117, 117, 117, 0.46);
  padding-top: 50px;
}