@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;

700&family=Poppins:wght@400;500;600&family=Roboto:wght@400;500;700&family=Rubik:wght@500&family=Ubuntu&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.875rem;
  font-smoothing: antialiased;;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  -ms-touch-action: none;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex: 1 1 auto;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 73.625rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 200;
}

.menu-open .header {
  height: 100%;
}

.header__container {
  display: flex;
  width: 100%;
  height: 3.5rem;
  padding-top: 1.5625rem;
  justify-content: center;
  align-items: center;
}


.header__logo {
  padding-top: 1rem;
  width: 218px;
  flex: 1 1 auto;
  color: #40A3F8;
  font-family: Rubik;
  font-size: 31.635px;
  font-style: normal;
  font-weight: 500;
  line-height: 47px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.menu-open .header__menu {
  text-align: center;
}

.menu-open .menu {
  display: block;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  padding-top: 100px;
  background-color: #fff;
}

.menu__body {
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #6E5F5F;
}

.menu__list {
  display: flex;
  gap: 52px;
  justify-content: center;
  align-items: center;
}

.menu__list:last-child {
  color: #262323;
}

.menu-open .menu__list {
  flex-direction: column;
}

.menu__link {
  opacity: 0.3019999862;
}

.menu__link:hover {
  color: #40A3F8;
  opacity: 1;
}

.menu .button {
  width: 142px;
  height: 47px;
}

.button {
  background-color: rgb(64, 163, 248);
  border-radius: 5px;
  color: #FFF;
  font-family: Poppins;
  font-size: 14.997px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  transition: all 0.3s ease 0s;
}

.button:hover {
  background-color: rgb(69, 129, 180);
  color: rgb(64, 163, 248);
  background-color: rgb(255, 255, 255);
  transform: scale(1.1);
  box-shadow: 0px 2px 3px #000;
}

.icon-menu {
  display: none;
}

.border {
  border: 1px dashed rgba(117, 117, 117, 0.46);
  padding-top: 50px;
}

.search {
  background-color: rgba(124, 195, 255, 0.1);
  padding-top: 150px;
}

.search__container {
  display: flex;
  position: relative;
}

.search__body {
  margin-bottom: 4.625rem;
  align-self: center;
}

.search__img1 {
  position: relative;
}

.search__img1 img {
  position: relative;
  right: -38px;
}

.search__img2 {
  position: relative;
}

.search__img2 img {
  position: absolute;
  bottom: 154px;
  right: -70px;
}

.body-search__titl {
  width: 482px;
  height: 137px;
  color: #3E3E3E;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 1.9375rem;
}

.body-search__titl span {
  color: #40A3F8;
}

.body-search__text {
  width: 460px;
  height: 58px;
  color: rgba(117, 117, 117, 0.46);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 3.125rem;
}

.body-search__sear {
  width: 566px;
  height: 86px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 22px 0px rgba(228, 245, 252, 0.3);
  padding: 13px;
}

.sear-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sear-body__button {
  cursor: pointer;
}

.sear-body__button img {
  width: 62px;
  height: 55px;
}

.input {
  padding: 0.3125rem 1.125rem 0rem 1.875rem;
  width: 216px;
  height: 59px;
  border-radius: 8px;
  background: rgba(245, 246, 250, 0.52);
  outline: none;
  opacity: 0.3019999862;
}

.option-sear {
  width: 203px;
  height: 59px;
  border-radius: 8px;
  background: rgba(245, 246, 250, 0.52);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.125rem 1.3125rem 1.125rem 1.6875rem;
}

.option-sear__icon {
  margin-right: 10px;
}

.option-sear__icon img {
  width: 20px;
  height: 20px;
}

.select {
  cursor: pointer;
}

.solution {
  background: #FFF;
  backdrop-filter: blur(22px);
}

.solution__container {
  padding-top: 75px;
  padding-bottom: 95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.solution__titl {
  margin-bottom: 3.125rem;
}

.solution__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 105px;
}

.titl {
  color: #3E3E3E;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 70px;
}

.items-solution__item {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.items-solution__icon {
  width: 80.624px;
  height: 80px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 0.125rem;
}

.items-solution__titl {
  margin-bottom: 18px;
  margin-left: -30px;
  color: #3D3D3F;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  /* 160% */
}

.items-solution__text {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 166.667% */
  margin-left: 20px;
}

.icon1 {
  background-color: rgba(56, 175, 255, 0.1);
  mix-blend-mode: multiply;
  filter: drop-shadow(0px 4px 22px rgba(0, 0, 0, 0.05));
}

.icon2 {
  background-color: rgba(255, 180, 26, 0.12);
  filter: drop-shadow(0px 4px 22px rgba(0, 0, 0, 0.05));
}

.icon3 {
  background-color: rgba(56, 175, 255, 0.1);
  filter: drop-shadow(0px 4px 22px rgba(0, 0, 0, 0.05));
  margin-left: 20px;
}